* {
  position: relative;
  border: solid 0px #888;
  font: inherit;
  line-height: inherit;
  letter-spacing: 0.1em;
  color: inherit;
}
.maru {
  font-family: "Zen Maru Gothic", cursive;
}

html,
body {
  overflow: hidden auto;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Zen Maru Gothic", cursive;
  font-weight: 600;
  line-height: 1.5;
  background-color: #fff;
  color: #624e46;
  overscroll-behavior: none;
  scroll-padding-top: 200px;
}
.serif {
  font-family: "Noto Serif JP";
}
a {
  color: -webkit-link;
}
::-webkit-scrollbar {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #0001;
}
::-webkit-scrollbar-thumb {
  appearance: none;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #0004;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::placeholder {
  color: #624e4680;
}

.tc {
  text-align: center;
}
.ts {
  text-align: start;
}
.te {
  text-align: end;
}

.fixed {
  position: fixed;
}
.abs {
  position: absolute;
}

.f {
  display: flex;
}
.if {
  display: inline-flex;
}
.v {
  flex-direction: column;
}
.fa {
  display: flex;
  justify-content: space-around;
}
.fac {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.fb {
  display: flex;
  justify-content: space-between;
}
.fbc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.fbe {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
}
.fbs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.fc {
  display: flex;
  justify-content: center;
}
.fcc {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-items: center;
  align-content: center;
}
.fce {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}
.fcs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.fe {
  display: flex;
  justify-content: space-evenly;
}
.fee {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: flex-end;
}
.fend {
  display: flex;
  justify-content: flex-end;
}
.fes {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
}
.fec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.fendc {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.fende {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}
.fs {
  display: flex;
  justify-content: flex-start;
}
.fsc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.fxc {
  display: flex;
  align-items: center;
  align-content: center;
}
.fxe {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
}
.fxs {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
  text-wrap: nowrap;
}

.hidden {
  display: none;
}

.noselect {
  user-select: none;
}
.notouch {
  touch-action: none;
  pointer-events: none;
}
.nodeco {
  color: inherit;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.ofhh {
  overflow: hidden hidden;
}
.ofha {
  overflow: hidden auto;
}
.ofah {
  overflow: auto hidden;
}
.ofaa {
  overflow: auto auto;
}

.wa {
  width: fit-content;
}
.ha {
  height: fit-content;
}

@media screen and (min-width: 769px) {
  .sp {
    display: none;
  }
  .pct {
    opacity: 0.001;
  }
}
@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .spt {
    opacity: 0.001;
  }
  .spv {
    flex-direction: column;
  }
}

.shadow1 {
  box-shadow: #00000028 0px 3px 6px;
}
.img1px {
  width: 1px;
  max-width: 1px;
  height: 1px;
  max-height: 1px;
}
.cover {
  object-fit: cover;
}

.hoverOrange:hover {
  color: #fda217;
}
